#calendar {
  max-width: 1100px;
  margin: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#input {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

body {
  font-family: Arial, sans-serif;
}

#calendar_background {
  margin-bottom: 20px;
}

#reservation-form {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

label {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

input,
select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#start,
#end,
#purpose,
#email {
  width: calc(100% - 18px);
}

#device {
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}


#captcha {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}

#error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

form div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

form div label {
  width: 150px;
}

form div input {
  flex-grow: 1;
}

td.fc-other-month .fc-day-number {
  display: none;
}

.fc .fc-button-primary {
  color: #ffffff;
  background-color: #000000 !important;
  border-color: #000000 !important;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 3px;
  cursor: pointer;
  transition: all 0.7s ease;
}

.fc .fc-button-primary:hover {
  background-color: #757575 !important;
  border-color: #757575 !important;
}

.fc-toolbar {
  text-transform: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #4141418e;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  text-transform: capitalize;
}

.fc-scrollgrid-sync-inner {
  text-transform: capitalize;
  font-size: 16px;
}

.fc-timegrid-slot-label-cushion .fc-scrollgrid-shrink-cushion {
  text-align: center;

}

.fc-timegrid-slot .fc-timegrid-slot-label .fc-scrollgrid-shrink {
  text-align: center;
}

.fc-day-past {

  background-color: #f1f1f1;
}

.fc-day-future {

  background-color: #00ff3757;
}

.fc-day-today {
  font-weight: bold;
  background-color: #ffffff54 !important;
}


.title {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}

.form-upper-text {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.form-upper-down-text {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-style: italic;
}

.consent-text {
  font-weight: normal;

}

.error-message {
  color: #d9534f;
  margin: 10px 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}